SECRET_KEY=your_secure_random_secret_key_here
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,yourdomain.com,.onrender.com

# PostgreSQL Credentials (use either these or DATABASE_URL)
DB_NAME=scheduler_db
DB_USER=postgres
DB_PASSWORD=nikhil123
DB_HOST=localhost
DB_PORT=5432

# Or use DATABASE_URL directly for Render/Production
# DATABASE_URL=postgres://user:password@host:port/dbname
